---
const { location } = Astro.props;
import Question from './Question.astro';
import SiteTitle from '@components/SiteTitle.astro';
import Answer from '@components/Answer.astro';
---

<article itemscope itemtype="https://schema.org/FAQPage" class="meow location">
  <h1 itemprop="name"><SiteTitle title={location.data.title} location={location.data.location} /></h1>
  <p itemprop="description" class="answer-title serif-stroke"><Answer legality={location.data.legality} location={location.data.location} /></p>
  <p itemprop="lastReviewed">Last reviewed: {location.data.datetime}</p>
  <div class="questions">
    <div class="rec">
      <Question report={location.data.results.RECREATIONAL} />
      <Question report={location.data.results.RECREATIONAL_STORE} />
      <Question report={location.data.results.RECREATIONAL_GROW} />
    </div>
    <div class="med">
      <Question report={location.data.results.MEDICAL} />
      <Question report={location.data.results.MEDICAL_STORE} />
      <Question report={location.data.results.MEDICAL_GROW} />
    </div>
  </div>
</article>
<style>
  article {
    >h1 {
      text-wrap-style: stable;
      text-align: center;
      font-size: 1.5em;
      padding: 0;
      margin: 1em 0 0 0;
    }
    [itemprop="description"] {
      text-align: center;
      font-weight: bold;
      padding: 1rem 0;
      margin: 0;
    }
    [itemprop="lastReviewed"] {
      text-align: center;
      font-size: 1em;
      padding: 0;
      margin: 0 0 1em 0;
      color: #666;
    }
    @media (min-width: 600px) {
      .questions {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        .rec, .med {
          flex: 0 0 calc(50% - 0.5em);
          max-width: calc(45% - 0.5em);
        }
        /* .question {
          flex: 0 0 calc(50% - 0.5em);
          max-width: calc(45% - 0.5em);
        } */
      }
    }
  }
</style>
