---
const { report } = Astro.props;
let urlVisible = '';
if (report.url) {
  urlVisible = report.url.replace('https://', '').replace('http://', '').replace('www.', '').split('/')[0];
}
---

<section itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="question">
  <h2 itemprop="name">{report.question}</h2>
  <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
    <p itemprop="text">{report.answer}</p>
    <div
      itemprop="answerExplanation"
      itemscope
      itemtype="https://schema.org/WebContent"
    >
      {
        report.gov_quote && (
          <blockquote itemprop="text">
            "{report.gov_quote}" -{' '}
            <cite itemprop="citation">
              <a href={report.url}>{urlVisible}</a>
            </cite>
          </blockquote>
        )
      }
    </div>
  </div>
</section>

<style>
  :root {
    --question-margin-bottom: .5rem;
    --question-font-size: 1.2rem;
    --question-padding: .1rem;
  }
  @media (min-width: 600px) {
    :root {
      --question-margin-bottom: 1rem;
      --question-font-size: 1.5rem;
      --question-padding: .5rem;
    }
  }
  @media (min-width: 900px) {
    :root {
      --question-margin-bottom: 1.5rem;
      --question-font-size: 1.8rem;
      --question-padding: 1rem;
    }
  }
  [itemtype="https://schema.org/Question"] {
    margin-bottom: var(--question-margin-bottom);
    border: 1px solid #ccc;
    padding: var(--question-padding);
    border-radius: 0.5em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    >[itemprop="name"] {
      text-wrap-style: balance;
      text-align: center;
      font-size: var(--question-font-size);
    }
  }
  [itemprop="acceptedAnswer"]>[itemprop="text"] {
    font-size: calc(var(--answer-size) + .3rem);
    font-weight: bold;
    text-align: center;
    margin: 0;
  }
  blockquote {
    color: #666;
    font-style: italic;
    margin: .5rem 0;
    font-size: .9rem;
    cite {
      white-space: nowrap;
      overflow: hidden;
      display: block;;
    }
  }
</style>
