---
const { report } = Astro.props;
---

<section itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
  <h2 itemprop="name">{report.question}</h2>
  <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
    <p itemprop="text">{report.answer}</p>
    <div
      itemprop="answerExplanation"
      itemscope
      itemtype="https://schema.org/WebContent"
    >
      <p itemprop="abstract">{report.summary}</p>
      {
        report.gov_quote && (
          <blockquote itemprop="text">
            "{report.gov_quote}" -{' '}
            <cite itemprop="citation">
              <a href="{report.url}">{report.url}</a>
            </cite>
          </blockquote>
        )
      }
    </div>
  </div>
</section>
