---
import { getCollection } from 'astro:content';
import { convertPastDateToYes } from '@util/data';

const posts = (await getCollection('locations')).sort(
	(a, b) => b.data.location.valueOf() - a.data.location.valueOf()
).filter(
	(post) => post.data.location !== 'United States'
);

const meow = (t => {
	switch (t) {
		case 'yes':
		case 'no':
			return t;
		default:
			return 'date';
	}
})

import '@colinaut/action-table/dist/action-table.css';
---
<script type="module" src="https://unpkg.com/@colinaut/action-table/dist/index.js"></script>


<action-table class="tbl" sort="legality" direction="descending" store>
<table>
	<thead>
		<tr>
			<th>Location</th>
			<th>Recreational</th>
			<th>Rec Store</th>
			<th>Rec Grow</th>
			<th>Medical</th>
			<th>Med Store</th>
			<th>Med Grow</th>
			<th>Legality</th>
			<th no-sort>Report</th>
		</tr>
	</thead>
	<tbody>
		{
			posts.map((location) => (
				<tr>
					<td>{ location.data.location }</td>
					<td class={meow(location.data.recreational)}>{convertPastDateToYes(location.data.recreational,true)}</td>
					<td class={meow(location.data.recStore)}>{convertPastDateToYes(location.data.recStore,true)}</td>
					<td class={meow(location.data.recGrow)}>{convertPastDateToYes(location.data.recGrow,true)}</td>
					<td class={meow(location.data.medical)}>{convertPastDateToYes(location.data.medical,true)}</td>
					<td class={meow(location.data.medStore)}>{convertPastDateToYes(location.data.medStore,true)}</td>
					<td class={meow(location.data.medGrow)}>{convertPastDateToYes(location.data.medGrow,true)}</td>
					<td class="legality">{location.data.legality}</td>
					<td class="report"><a href={`/locations/${location.slug}/`}>Read report</a></td>
				</tr>
			))
		}
	</tbody>
</table>
</action-table>

<style>
	code {
		font-size: 1em;
	}
	.tbl {
    display: flex;
    justify-content: center;
    align-items: center;
	}
	.legality::after {
		content: '%';
	}
	.yes {
		background-color: #00BF00;
		color: #000;
		font-weight: bold;
	}
	.no {
		background-color: #FF0000;
		color: #FFF;
		font-weight: bold;
	}
	.date {
		background-color: #FFFF00;
		color: #000;
		font-weight: bold;
	}
</style>
